body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #24384c;
}

h1 {
    color: #d87a1e;
}

.navbar {
    background-color: #24384c;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    height: 100px;
}
.nav-links {
    display: flex;
}
.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1rem;
}
.content {
    padding: 2rem;
    min-height: calc(100vh - 160px);
}

.footer {
    background-color: #24384c;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Popup question */

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    text-align: center;
    max-width: 100%;
    max-height: 100%;
    overflow-y: auto;
    position: relative;
}

.close-btn {
    position: absolute;
    top: 12px;
    right: 17px;
    font-size: 24px;
    cursor: pointer;
}

#question-container {
    margin-bottom: 1rem;
}

#choices-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.choice-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.choice-label {
    flex: 0 0 auto;
}

.choice-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    margin: 0 1rem;
}

.choice-inputs input[type="radio"] {
    display: none;
}

.choice-inputs label {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid #d87a1e;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.choice-inputs input[type="radio"]:checked + label {
    background-color: #d87a1e;
}

.styled-button {
    background-color: #d87a1e;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.styled-button:hover {
    background-color: #c06c1b;
}
